.landing{
    width: 80%;
    margin: auto;
}
/* .swiper{
    display: flex;
    flex-wrap: wrap;
} */
.course img{
    height: 200px;
}
.icons{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.img-icons{
    width: 35px;
    height: 35px;
}
