.container-pro{
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: cornflowerblue
}

.profile-button {
    background: cornflowerblue;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: cornflowerblue}

.profile-button:focus {
    background: cornflowerblue;
    box-shadow: none
}

.profile-button:active {
    background:cornflowerblue;
    box-shadow: none
}

.back:hover {
    color:cornflowerblue;
    cursor: pointer
}